<p id="notice"><%= notice %></p>

<h1>Listing Clignes</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clignes.each do |cligne| %>
      <tr>
        <td><%= cligne.status %></td>
        <td><%= cligne.date %></td>
        <td><%= link_to 'Show', cligne %></td>
        <td><%= link_to 'Edit', edit_cligne_path(cligne) %></td>
        <td><%= link_to 'Destroy', cligne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cligne', new_cligne_path %>
