<%= form_for(@blink) do |f| %>
  <% if @blink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blink.errors.count, "error") %> prohibited this blink from being saved:</h2>

      <ul>
      <% @blink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
